// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/mixins';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/grid';
// @import '~bootstrap/scss/button-group';
// @import '~bootstrap/scss/buttons';
// @import '~bootstrap/scss/forms';
// @import '~bootstrap/scss/alert';
// @import '~bootstrap/scss/modal';
// @import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Advent+Pro&display=swap');

html, body {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Advent Pro';
  min-height: 100vh;
}
